/* #region Variables (задавати варіанти) */

/* #endregion */

/* #region Base styles */
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

/* #endregion */

/* #region Reset styles (скидання стилів) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}
/* #endregion */

/* #region Common styles (повторювані стилі)*/
h2 {
  margin-bottom: 72px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: auto;
}

.section {
  padding: 120px 0;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.btn {
  display: block;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  min-width: 169px;
  height: 56px;

  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region Logo */
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.light {
  color: #f4f4fd;
}

.dark {
  color: #2e2f42;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}
/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-item {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
}

.header-item-link {
  padding: 24px 0;
}

.header-item-link:hover,
.header-item-link:focus {
  color: #404bbf;
}

.header-contacs {
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 40px;
}

.contacts-item {
  font-weight: 400;
  display: block;
  padding: 24px 0;
}

.contacts-item-link {
  padding: 24px 0;
}

.contacts-item-link:hover,
.contacts-item-link:focus {
  color: #404bbf;
}

/* #endregion */

/* #region Hero */
.hero {
  background-color: #2e2f42;
  width: 100%;
  padding: 188px 0;
}

.hero-title {
  color: #ffffff;

  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  max-width: 496px;
  margin: 0 auto 48px;
}
/* #endregion */

/* #region Advantages */

.adv-list {
  display: flex;
  gap: 24px;
}

.adv-item {
  flex-basis: calc((100% - 72px) / 4);
}
/* #endregion */

/* #region Team */
.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.person {
  margin: 0 16px;
  text-align: center;
  padding: 32px 0 32px;
}
/* #endregion */

/* #region Portfolio */
.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  align-items: stretch;
}

.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* #endregion */

/* #region Footer styles */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-txt {
  max-width: 264px;
}

/* #endregion */
